{% extends 'core/base.html' %}

{% load static %}

{% block title %}Buscador{% endblock %}



{% block content %}
<link href="/static/css/nouislider.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<div class="container">
  <br>
  <center>
    <h1>
      BUSCADOR DE PRODUCTOS
    </h1>
  </center>
       
  <!--BUSCADOR-->
  <br>
  
  <div class="row">

      
    <form action="{% url 'buscador' %}" class="col s6">

      <div class="input-field col s6">
        <i class="material-icons prefix">search</i>
        <input name="nombre"  id="buscar" type="text" class="validate">
        <label for="buscar">Nombre</label>
      </div>
      <!--
      <input type="hidden" name="minimo" id="minimo">
      <input type="hidden" name="maximo" id="maximo">
      -->

        
      <div class="col s2">
        <center>
          <button class="waves-effect waves-light btn-large" type="submit">
            Buscar
          </button>
        </center>
      </div>
       

    </form>
  </div>
  
  <div class="row">
    
    {% for product in object_list %}
    <div class="col-md-4 mt-2 mb-3 ">
      <div class="row p-1">
        <div class="col-md-12">
          <div class="card">
            <div class="card-image">
              
              <a href="{% url 'detalle_productos' product.pk %}">
              <div style="width: 20rem;
                height: 20rem;
              background-image: url(/media/{{product.image}});
              background-size: cover;
              background-repeat: no-repeat;
              max-width: 100%;
              width: 100%;"></div>
              </a>
            </div>

            <div class="card-action">
              <center>
                {{product.title}}
                <br>
                {{product.price}}€
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    
         
    {% empty %}
    <center>
      <p>
        No tenemos resultados para tu búsqueda
      </p>
    </center>
    {% endfor %}
      
      


  </div>

  <div class="row">
    <div class="col-5">  
    </div>
    <div class="col-7">  
    {% if is_paginated %}
		<center>
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li class="disabled"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
				{% else %}
				<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				{% endif %}

				{% for page in paginator.page_range %}
				<li class="waves-effect  {% if page == page_obj.number %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
				{% endfor %}


				{% if page_obj.has_next %}
				<li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
				{% else %}
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
				{% endif %}
			</ul>
		</center>
		{% endif %}
    </div>

	</div>
  

  <br>
</div>
<script src="/static/js/nouislider.min.js"></script>
<script src="/static/js/wNumb.js"></script>
<script>
  
  })
</script>

{% endblock %}


    